.pattern-top {
  object-fit: cover;
  min-height: 150px;
  max-height: 400px;
}
.pattern-bottom {
  object-fit: cover;
  min-width: 1/6;
}
.arrow {
  width: 52px;
  height: 52px;
  border-radius: 40px;
  border: 2px solid black;
}
#saving-target {
  border: 2px solid black;
  border-radius: 5px;
}
.saving-target-button {
  margin-top: 0.5rem;
  background-color: none;
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

#impulsknappen {
  transition: 0.3s;
}
#impulsknappen:active,
#impulsknappen:hover {
  transform: scale(0.98);
}
button:active,
button:hover {
  transform: scale(0.98);
}

#click {
  min-height: 42px;
  display: flex;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.numAni {
  animation: ani 0.7s linear;
}

@keyframes ani {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

#toBeCharged {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  min-height: 50px;
}

.arrow {
  transition: 0.2s;
}
.arrow:hover {
  transform: scale(1.05);
}
