.pattern-top {
  min-height: 150px;
}
.pattern-bottom {
  object-fit: cover;
  min-width: 1/6;
}

.arrow {
  width: 52px;
  height: 52px;
  border-radius: 40px;
  border: 2px solid black;
}

.saving-target {
  border: 2px solid black;
  border-radius: 20px;
}
